
.show{
    display: block;
}
.active{
    background-color: black;
    color: white;
}

.buttons {
  position: fixed;
  left: 60%;
  transform: translateX(-50%);
  bottom: 10px;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup__options {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    bottom: 63px;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    z-index: 1;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-sizing: border-box;
}

.dropup__options a, input, label {
    display: block;
    color: #2980b9;
    text-decoration: none;
    padding: 8px 12px;
}

.dropup__options a:hover {
    background-color: #ebf5fb;
}

.dropup:hover .dropup__options {
    display: block;
}


.bottom__nav_save{
    background-color: #f29898;
    border: 1px;
    color: white;
    border-color: black;
    border-radius: 20px;
    width: 70px;
    height: 40px;
    text-align: center;
    margin-left: 900px;
    margin-right: 100px;
    padding-right: 10px;
    margin-top: 200px;
    font-size: 20px;
    cursor: pointer;
    border-style: solid;

}

.canvas__container{
    width: 1000px;
    height: 470px;
    margin-left: 430px;
    margin-top: 30px;
    float: left;
    margin-bottom: 20px;
    margin-right: 2000px;
    border: 5px;
    border: black;
    border: solid; 
  
}

body{
    background-image: url("bg1.jpg");
    background-repeat: no-repeat;
     padding: 50px;
     overflow: hidden;
     
 
 }
 .logo{
  
    margin-top: -30px;
     display: flex;
     align-content: flex-end;
     justify-content: flex-end;
     position: relative;
     
 }
 .menu-container{
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     align-self: flex-end;
     margin-top: 100px;
     
 }
 .menu-container > div{
     width: 100px;
     margin: 90px;
     line-height: 75px;
     justify-content: flex-end;
     align-items: flex-end;
     position:relative;
     justify-content: space-between;
 
 }

 
button{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    position: relative;
}
.nav__container {
    display: flex;
    flex-direction: row;
    margin-left: 340px;
    justify-content: space-evenly;
    bottom: 0px;
    background-color: #000000;
}

.nav__container__mobile{
    display: none;
}

.progress {
    width: 320px;
    height: 20px;
    margin-top: 22px;
    background-color: #ebf5fb; 
    margin-left: 340px;
}

#progress__text{
    width: inherit;
    height: inherit;
    /* padding: 10px 0px; */
    position: absolute;
    text-align: center;
    vertical-align: middle;
    z-index: 5;
    display: inline-block;
}

#progress__bar {
    width: 0%;
    padding: 10px 0px;
    background-color: #2980b9;
}

.bottom__nav {
    border: none;
    background-color: #000000;
    cursor: pointer;
    font-size: 15px;
    line-height: 2;
}

.bottom__nav:hover {
    color: #ebf5fb;
    transform: scaleX(1.1);
}

.play {
    color: white;
    height: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__options {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    bottom: 63px;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    z-index: 1;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-sizing: border-box;
}

.dropup__options a, input, label {
    display: block;
    color: #2980b9;
    text-decoration: none;
    padding: 8px 12px;
}

.dropup__options a:hover {
    background-color: #ebf5fb;
}

.dropup:hover .dropup__options {
    display: block;
}

.solve {
    color: white;
    height: 100%;
}

.reset {
    color: white;
    height: 100%;
}

.load {
    color: white;
    height: 100%;
}

#load__url {
    border: none;
    width: 90%;
    border-bottom: 1px solid #2980b9;
}

#submit__image {
    float: right;
    color: #ebf5fb;
    background-color: #2980b9;
    margin-right: 5px;
    margin-bottom: 5px;
}

.save {
    color: white;
    height: 100%;
}

.difficulty {
    color: white;
    height: 100%;
}

input[type="range"] {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    height: 10px;
    width: 100%;
    box-shadow: none;
    background-color: #ebf5fb;
    left: 0;
    position: relative;
    transition: all .5s ease;
}

.bottom__border {
    border-bottom: 1px solid #2980b9;  
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
    height: 10px;
    width: 30px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    background: #2980b9;
    border-radius: 1.3px;
    cursor: pointer;
}

.github, .css {
    text-align: center; 
    margin: 1em 0;
}

.github__link, .css__link{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.github__logo {
    vertical-align: middle;
    padding: 5px 5px 5px 5px; 
    border-radius: 5px;
    background-color: #ebf5fb;
    height: 25px;
}

.css__logo {
    vertical-align: middle;
    border-radius: 5px;
    height: 35px;
}