body{
   background-image: url("bg1.jpg");
   background-repeat: no-repeat;
    padding: 50px;
    overflow: hidden;

}
.logo{
 
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    position: relative;
    
}
.menu-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    margin-top: 100px;
}
.menu-container > div{
    width: 100px;
    margin: 90px;
   line-height: 75px;
    justify-content: flex-end;
    align-items: flex-end;
    position:relative;
    justify-content: space-between;

}

.menu-container .difficultybutton{
 
    background-color: #f29898;
    position:relative;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 20px 30px;
    border: 3px;
    border-color:black;
    border-style: solid;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    color:black;
    font-size: 35px;

}
button{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    position: relative;
}
.menu-container .difficultybutton:hover{
    background-color:#fdb8b8;
    color:white;
}

@media screen and (max-width: 800px){
    .menu-container{
        flex-direction: column;
        padding-top:  10px;
        padding-bottom: 10px;
    }
}
